{{!-- <form> --}}
{{!--   Song Length:
  <input id="range" type="range">
  <br> --}}
  Artist:
  <br>
  <select id="artist" placeholder="options">
    {{#each songs}}
      <option class="{{album}}">{{artist}}</option>
    {{/each}}
  </select>
  <br>
  <br>
  Album:
  <br>
  <select id="album" placeholder="options">
    {{#each songs}}
      <option class="{{artist}}">{{album}}</option>
    {{/each}}
  </select>
  <br>
  <br>
  Genre:
  <br>

{{!--   <div>
    <table class="table">
      <tr>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Rock
        </label>
        </td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Classical
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Pop
          </label>
        </td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option4"> Jazz
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option5"> Blues
          </label>
        </td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option6"> Hip hop
          </label>
        </td>
      </tr>
    </table>
  </div>
  <button type="submit" id="filter" class="btn btn-default center-block">Filter</button>
</form> --}}