{{#each songs}}
<div class='cont'>
  <p class='large' class='song'>{{name}}</p>
  <ul>
    <li class='artist'>Artist: {{artist}}</li>
    <li class='middle album'>Album: {{album}}</li>
    <li class='year'>Year: {{year}}</li>
  </ul>
  <button type='button' class='btn btn-default btn-sm delete'>Delete</button>
</div>
{{/each}}